body {
  font-family: Arial, sans-serif;
  font-size: 20px;
  margin: 0;
  line-height: 1.5;
  background-color: #FFA7B6;
  color: #F85797;
}

p {
  color: #F85797;
  margin-bottom: 20px;
}

h1 {
  font-size: 36px;
  font-weight: bold;
  color: #F85797;
  text-align: center;
  margin-bottom: 20px;
}

h2 {
  font-size: 24px;
  font-weight: bold;
  color: #F85797;
  margin-bottom: 10px;
}

ul {
  list-style-type: disc;
  padding: 5px 10px;
  background-color: #eee;
  border-radius: 20px;
  margin-bottom: 5px;
}

ol {
  list-style-type: decimal;
  padding: 5px 10px;
  background-color: #eee;
  border-radius: 20px;
  margin-bottom: 5px;
}

.container {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.left, .right {
  width: 45%;
  padding: 20px;
  background-color: #eee;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.left {
  margin-right: 10%;
}

.right {
  margin-left: 10%;
}

h2 {
  font-size: 36px;
  font-weight: bold;
  color: #F85797;
  margin-bottom: 10px;
}

ul {
  list-style-type: disc;
  padding: 5px 10px;
  margin-bottom: 60px;
}

ol {
  list-style-type: decimal;
  padding: 5px 10px;
  margin-bottom: 5px;
}

.image-container {
  width: 20%;
  height: 400px;
  background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSc6bmTDASUiHmGbX0XWyuZzvhaIVYGvDmM7g&usqp=CAU');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  right: 0;
}

a:link {
  color: blue;
  text-decoration: none;
}

a:visited {
  color: purple;
}

a:hover {
  color: red;
  text-decoration: underline;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
    align-items: center;
  }

  .box {
    width: 100%;
    margin-bottom: 20px;
    height: 150px;
    background-color: #eee;
  }

  body {
    font-size: 16px;
    line-height: 1.5;
  }

  h1 {
    font-size: 24px;
    margin-bottom: 10px;
  }

  p {
    font-size: 14px;
  }

}